<html>
<head>
  <title> EZ Shellz, boi!!! </title>
</head>


<body>
<h1>Want some EZ Shellz?</h1>

<form action="index.html" method="post">

  Attacker IP: <input type="text" name="attackerIP"><br>
  Listening Port: <input type="text" name="listeningPort"><br>

  <label for="cars">Language:</label>
<select id="language" name="language">
  <option value="php">PHP</option>
  <option value="python">Python</option>
  <option value="ruby">Ruby</option>
  <option value="nce">Netcat with the -e option</option>
  <option value="ncb">Netcat Bind Shell</option>
  <option value="bash">Bash Shell</option>
  <option value="ps">Stupid PowerShell</option>
</select>

<input type="submit" value="continue"><br>


</form>

</body>


</html>
